Proyecto IOT + Sensor particulas finas + codigo Arduino/flows.json
[{"id":"fbf2d8e0.c116f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"503e9515.4a9ffc","type":"serial in","z":"fbf2d8e0.c116f8","name":"","serial":"a6fb9d44.5df29","x":120,"y":100,"wires":[["c85c0802.ff2fa8","579a9079.6a2b9","dc60352c.521b68","eac058ab.13c248","30e941ff.dcf75e"]]},{"id":"ca70a97c.d057b8","type":"ui_text","z":"fbf2d8e0.c116f8","group":"af9cc973.a9b928","order":1,"width":6,"height":5,"name":"","label":"Alarma de incendio","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":200,"wires":[]},{"id":"efa7efe6.1fde","type":"ui_text","z":"fbf2d8e0.c116f8","group":"255bc672.e8010a","order":1,"width":6,"height":5,"name":"","label":"Alarma de robo","format":"{{msg.payload}}","layout":"col-center","x":1020,"y":60,"wires":[]},{"id":"c85c0802.ff2fa8","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"var puerta=msg.payload.split(',')[1];\nmsg.payload=puerta;\nif(puerta==1){\n    msg.payload=true\n}\nelse{\n    msg.payload=false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":100,"wires":[["db33383a.e3b648"]]},{"id":"6688981.e3fe168","type":"ui_switch","z":"fbf2d8e0.c116f8","name":"Azul","label":"Azul","tooltip":"","group":"1d5b5754.af5d19","order":1,"width":6,"height":3,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":620,"wires":[["2f8e28a6.c0e968"]]},{"id":"2f8e28a6.c0e968","type":"switch","z":"fbf2d8e0.c116f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":620,"wires":[["10f1303f.b6cf5","a34c47a1.0d0ae8"],["f9562907.1b7568","a34c47a1.0d0ae8"]]},{"id":"10f1303f.b6cf5","type":"function","z":"fbf2d8e0.c116f8","name":"encendido","func":"msg.payload=\"1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":600,"wires":[["2a621fb9.e90d4"]]},{"id":"2a621fb9.e90d4","type":"serial out","z":"fbf2d8e0.c116f8","name":"salida","serial":"a6fb9d44.5df29","x":1010,"y":720,"wires":[]},{"id":"30123f26.70635","type":"ui_gauge","z":"fbf2d8e0.c116f8","name":"Humedad","group":"c2b60dfd.41cad","order":1,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":460,"wires":[]},{"id":"579a9079.6a2b9","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"var puerta=msg.payload.split(',')[3];\nmsg.payload=puerta;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":400,"wires":[["bee23f0d.d0b47"]]},{"id":"dc60352c.521b68","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"var puerta=msg.payload.split(',')[4];\nmsg.payload=puerta;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["30123f26.70635"]]},{"id":"ca363874.3aebe8","type":"ui_audio","z":"fbf2d8e0.c116f8","name":"","group":"255bc672.e8010a","voice":"Google español","always":"","x":1000,"y":20,"wires":[]},{"id":"e2f32529.719958","type":"ui_audio","z":"fbf2d8e0.c116f8","name":"","group":"af9cc973.a9b928","voice":"Google español de Estados Unidos","always":"","x":980,"y":120,"wires":[]},{"id":"d684c7a8.1747b8","type":"switch","z":"fbf2d8e0.c116f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":680,"wires":[["bb9cb6aa.5df038","4a44b42f.20f53c"],["f9562907.1b7568","4a44b42f.20f53c"]]},{"id":"bb9cb6aa.5df038","type":"function","z":"fbf2d8e0.c116f8","name":"encendido","func":"msg.payload=\"2\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":680,"wires":[["2a621fb9.e90d4"]]},{"id":"a2fe48a.895beb8","type":"ui_switch","z":"fbf2d8e0.c116f8","name":"Verde","label":"Verde","tooltip":"","group":"1d5b5754.af5d19","order":6,"width":6,"height":3,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":680,"wires":[["d684c7a8.1747b8"]]},{"id":"4acaeafc.1cecc4","type":"switch","z":"fbf2d8e0.c116f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":740,"wires":[["7fd4ce37.3725b","a7ff3a39.3ab6c8"],["f9562907.1b7568","a7ff3a39.3ab6c8"]]},{"id":"7fd4ce37.3725b","type":"function","z":"fbf2d8e0.c116f8","name":"encendido","func":"msg.payload=\"3\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":760,"wires":[["2a621fb9.e90d4"]]},{"id":"13df964e.6f708a","type":"ui_switch","z":"fbf2d8e0.c116f8","name":"Red","label":"Red","tooltip":"","group":"1d5b5754.af5d19","order":11,"width":6,"height":3,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":728.2000122070312,"wires":[["4acaeafc.1cecc4"]]},{"id":"2d31b634.43453a","type":"switch","z":"fbf2d8e0.c116f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":800,"wires":[["24d59ddb.32c902","c3bebbcc.6dd658"],["f9562907.1b7568","c3bebbcc.6dd658"]]},{"id":"24d59ddb.32c902","type":"function","z":"fbf2d8e0.c116f8","name":"encendido","func":"msg.payload=\"4\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":840,"wires":[["2a621fb9.e90d4"]]},{"id":"84dac04.4ab874","type":"ui_switch","z":"fbf2d8e0.c116f8","name":"Rainbow","label":"Rainbow","tooltip":"","group":"1d5b5754.af5d19","order":16,"width":6,"height":3,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":800,"wires":[["2d31b634.43453a"]]},{"id":"1d867338.2d5e7d","type":"ui_text","z":"fbf2d8e0.c116f8","group":"183b3495.18c6db","order":1,"width":10,"height":2,"name":"Foco del Patio","label":"Foco del Patio","format":"{{msg.payload}}","layout":"col-center","x":1060,"y":340,"wires":[]},{"id":"f9562907.1b7568","type":"function","z":"fbf2d8e0.c116f8","name":"encendido","func":"msg.payload=\"0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":900,"wires":[["2a621fb9.e90d4"]]},{"id":"a34c47a1.0d0ae8","type":"ui_led","z":"fbf2d8e0.c116f8","order":3,"group":"1d5b5754.af5d19","width":3,"height":3,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"showGlow":true,"name":"","x":730,"y":540,"wires":[]},{"id":"4a44b42f.20f53c","type":"ui_led","z":"fbf2d8e0.c116f8","order":8,"group":"1d5b5754.af5d19","width":3,"height":3,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"showGlow":true,"name":"","x":710,"y":640,"wires":[]},{"id":"a7ff3a39.3ab6c8","type":"ui_led","z":"fbf2d8e0.c116f8","order":13,"group":"1d5b5754.af5d19","width":3,"height":3,"label":"","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"showGlow":true,"name":"","x":710,"y":720,"wires":[]},{"id":"c3bebbcc.6dd658","type":"ui_led","z":"fbf2d8e0.c116f8","order":18,"group":"1d5b5754.af5d19","width":3,"height":3,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"purple","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"showGlow":true,"name":"","x":710,"y":800,"wires":[]},{"id":"bee23f0d.d0b47","type":"ui_gauge","z":"fbf2d8e0.c116f8","name":"Temperatura","group":"eac3c1f1.79733","order":1,"width":0,"height":0,"gtype":"compass","title":"Temperatura","label":"C°","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":400,"wires":[]},{"id":"db33383a.e3b648","type":"switch","z":"fbf2d8e0.c116f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":100,"wires":[["e8be258c.0ad1d8"],["5b0e9c49.027ab4"]]},{"id":"e8be258c.0ad1d8","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"msg.payload=\"Su puerta principal ha sido abierta, revisar camara!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":80,"wires":[["efa7efe6.1fde","ca363874.3aebe8","ed79267b.baeb68"]]},{"id":"5b0e9c49.027ab4","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"msg.payload=\"Puerta principal cerrada\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":120,"wires":[["efa7efe6.1fde"]]},{"id":"ed79267b.baeb68","type":"ui_toast","z":"fbf2d8e0.c116f8","position":"top right","displayTime":"5","highlight":"blue","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"Alarma","name":"Alarma","x":1180,"y":40,"wires":[]},{"id":"eac058ab.13c248","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"var incendio=msg.payload.split(',')[0];\nmsg.payload=incendio;\nif(incendio==1){\n    msg.payload=true\n}\nelse{\n    msg.payload=false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["2dbfbe3a.d4cde2"]]},{"id":"2dbfbe3a.d4cde2","type":"switch","z":"fbf2d8e0.c116f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":240,"wires":[["fee9bc73.2d88e"],["8cbe54c0.43c068"]]},{"id":"fee9bc73.2d88e","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"msg.payload=\"Humo detectado-llamar911!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[["ca70a97c.d057b8","465e2c68.cd9d24","e2f32529.719958"]]},{"id":"8cbe54c0.43c068","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"msg.payload=\"Sin novedades\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":260,"wires":[["ca70a97c.d057b8"]]},{"id":"465e2c68.cd9d24","type":"ui_toast","z":"fbf2d8e0.c116f8","position":"top right","displayTime":"5","highlight":"blue","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"Alarma","name":"AlarmaIncendio","x":1160,"y":140,"wires":[]},{"id":"30e941ff.dcf75e","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"var foco=msg.payload.split(',')[2];\nmsg.payload=foco;\nif(foco==1){\n    msg.payload=true\n}\nelse{\n    msg.payload=false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["78f21ae1.7fd1b4"]]},{"id":"78f21ae1.7fd1b4","type":"switch","z":"fbf2d8e0.c116f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":360,"wires":[["31d7aef4.67cc42","12990c33.eb8ba4"],["5047b633.7405b8","12990c33.eb8ba4"]]},{"id":"31d7aef4.67cc42","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"msg.payload=\"On\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":340,"wires":[["1d867338.2d5e7d"]]},{"id":"5047b633.7405b8","type":"function","z":"fbf2d8e0.c116f8","name":"","func":"msg.payload=\"Off\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":380,"wires":[["1d867338.2d5e7d"]]},{"id":"12990c33.eb8ba4","type":"ui_led","z":"fbf2d8e0.c116f8","order":3,"group":"183b3495.18c6db","width":4,"height":2,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"orange","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"showGlow":true,"name":"","x":1030,"y":280,"wires":[]},{"id":"a6fb9d44.5df29","type":"serial-port","serialport":"/dev/ttyS1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"af9cc973.a9b928","type":"ui_group","name":"Alerta de Incendio","tab":"4faf59e5.cbfa08","order":2,"disp":true,"width":"6","collapse":false},{"id":"255bc672.e8010a","type":"ui_group","name":"Alerta de Robo","tab":"4faf59e5.cbfa08","order":1,"disp":true,"width":"6","collapse":false},{"id":"1d5b5754.af5d19","type":"ui_group","name":"Foco de habitacion","tab":"f2e9c6e2.cd0998","order":2,"disp":true,"width":"10","collapse":false},{"id":"c2b60dfd.41cad","type":"ui_group","name":"Humedad","tab":"90f3531c.31369","order":1,"disp":true,"width":"8","collapse":false},{"id":"183b3495.18c6db","type":"ui_group","name":"Foco de patio","tab":"f2e9c6e2.cd0998","order":2,"disp":true,"width":"10","collapse":false},{"id":"eac3c1f1.79733","type":"ui_group","name":"Temperatura","tab":"90f3531c.31369","order":2,"disp":true,"width":"8","collapse":false},{"id":"4faf59e5.cbfa08","type":"ui_tab","name":"Alerta","icon":"dashboard","disabled":false,"hidden":false},{"id":"f2e9c6e2.cd0998","type":"ui_tab","name":"Focos","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"90f3531c.31369","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false}]